.container {
  display: flex;
  height: 196px;
  background: linear-gradient(270deg, #1f232f 0%, #3c4054 100%);
  border-radius: 8px;
  margin: 0px var(--side-margin) 16px;
  padding: 48px 64px;
  box-sizing: border-box;
}

.description {
  max-width: 250px;
  box-sizing: border-box;
  margin-right: 36px;
}

.paragraph {
  line-height: 20px;
  width: 250px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.units {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
