.creator {
  margin-bottom: 28px;
  font-size: 12px;
}

.disclaimer {
  line-height: 150%;
  font-size: 8px;
  width: 400px;
  text-align: center;
  letter-spacing: 0.14em;
}

@media only screen and (max-width: 768px) {
  .disclaimer {
    width: 300px;
  }
}
