.headerContainer {
  margin: 0 var(--side-margin);
  padding: 136px 0 24px 0;
}

.logo {
  max-width: 110px;
  max-height: 96px;
}

.navigationLinks {
  display: inline-flex;
  padding-left: 22px;
}

.navigationLink {
  font-family: "Luckiest Guy", cursive;
  display: inline-block;
  text-align: center;
  width: 96px;
  padding: 24px 0;
}

.selected {
  color: var(--accent-color);
}

.signInButton {
  font-family: "Luckiest Guy", cursive;
  margin-left: auto;
  margin-bottom: 12px;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    margin: 0 0px;
    padding: 42px 0 24px 0;
  }

  .navigationLinks {
    display: inline-flex;
    flex-direction: column;
  }

  .signInButton {
    margin: auto auto;
  }

  .navigationLinks {
    padding-left: 0;
  }
}
