.container {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-text-color);
  border-left: none;
  cursor: pointer;
}

.item:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.item:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid var(--light-text-color);
}

.item.selected {
  color: var(--accent-color);
  font-size: 24px;
  border-color: var(--accent-color);
  cursor: initial;
}

.selectedPrevious {
  border-right: 1px solid var(--accent-color);
}
