.statsContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .statsContainer {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 600px) {
  .statsContainer {
    flex-direction: column;
    align-items: center;
  }
}
