:root {
  --main-bg-color: #14151a;
  --alt-bg-color: #0c0c0f;
  --main-text-color: rgba(255, 255, 255, 0.92);
  --light-text-color: rgba(255, 255, 255, 0.5);
  --accent-color: #f7b704;

  --side-margin: 288px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Patua One", cursive;
  line-height: 150%;
}

nav {
  display: flex;
  align-items: flex-end;
}

button {
  width: 160px;
  padding: 8px 0 8px;
  border-radius: 8px;
  font-family: "Luckiest Guy", cursive;
  color: var(--main-text-color);
  border: 0;
  background: linear-gradient(79.54deg, #f0a700 4.94%, #fff09a 226.14%);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 1px;
  color: var(--accent-color);
}

h2 {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: var(--accent-color);
  margin-bottom: 12px;
}

h3 {
  font-family: "Patua One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

h3 {
  font-family: "Patua One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--accent-color);
  margin-bottom: 16px;
}

hr {
  margin: 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1366px) {
  :root {
    --side-margin: 200px;
  }
}

footer {
  background-color: var(--alt-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-text-color);
  padding-top: 32px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 1200px) {
  :root {
    --side-margin: 104px;
  }
}

@media only screen and (max-width: 992px) {
  :root {
    --side-margin: 80px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --side-margin: 42px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
